.example {
	width: 300px;
	height: 200px;
	border: 25px solid lightblue;
	padding: 20px;
	overflow: auto;
}

.container {
	/*position: absolute;*/
	padding: 20px;
}

.lighter {
	color: red;
}

.button {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #c2cad2;
	border: 1px solid black;
	text-align: center;
	cursor: pointer;
}

#present_container {
	max-width: 700px;
	margin: 0 auto;
}

#present_container p {
	background-color: red;
	display: inline-block;
	margin: 10px;
	padding: 30px 5px;
	text-align: center;
	width: 200px;
	color: white;
	cursor: pointer;	
}

#present_container .present {
	background-color: orange;
	color: #333;
	transition-property: background-color;
	transition-duration: 1s;
}